{% extends 'layout.html' %}
{% block content %}
<form method="GET" id="form1">
{{form.csrf_token}} 
<p>{{form.beer_sel.label}}</p> 
<select id="beer">
    {% for beer in dropdown_list %}
    <option value="{{ beer }}">{{ beer }}</option>
    {% endfor %}
</select>
<p>
    <button id="buttonID" form="form1" >Submit</button>
</p>
</form>
<script type = "text/javascript" language = "javascript">
console.log('start');
    jQuery(document).ready(function() {
       jQuery("#buttonID").click(function() {
           var beer_value = $('#beer').val();
		console.log(beer_value, ';jksdljfa;')

           var beer_name = $('#beer :selected').text(); 

               window.open(window.location.origin + "/servings/" + beer_value, '_blank')
   
       });
    });
</script>
{% endblock %}

